// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//
// Color system
//
@import "./colors.scss";

// Reassign color vars to semantic color scheme
$theme-colors: (
  primary: $sapphire,
  secondary: $gray-600,
  success: $green,
  info: #3e74c7,
  warning: $yellow,
  danger: $red,
  light: $gray-100,
  dark: $gray-800,
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// $container-max-widths: (
//   sm: 540px,
//   md: 640px,
//   lg: 710px,
//   xl: 780px,
// ) !default;
$container-max-widths: (
  sm: 540px,
  md: 640px,
  lg: 900px,
  xl: 980px,
) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@import "./fonts.scss";

@import "node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

img {
  margin-bottom: 15px;
  max-width: 100%;
}

.animated:hover {
  animation: pulse 0.5s;
}

a {
  color: $sapphire;
}

.blue-hover:hover {
  background-color: $sapphire !important;
}

.click {
  cursor: pointer;
}

.no-animation:hover {
  animation: none;
}

.profile-icon {
  width: 90%;
  max-width: 70px;
}

.card-deck {
  margin-left: 0px;
  margin-right: 0px;
}

.card-footer {
  background: transparent;
  border-top: 0px;
  padding-bottom: 15px;
}

.profile {
	width: 120px;
	height: 120px;
}

section {
	padding: 50px 0;
	min-height: 300px;

	&.jumboimage {
		position: relative;
		text-align: left;
		color: white;
		padding: 0rem 0px;
		margin: 0px auto;
		background: linear-gradient(0deg, rgb(0, 0, 0), rgb(51, 51, 51) 50%);
	}

	.cover-image {
		height: 50vh;
		width: 100%;
		opacity: 0.6;
		& > img {
			object-fit: cover !important;
			object-position: 0% 50% !important;
		}
		max-height: 300px;
	}

	.cover-over {
		position: absolute;
		top: 2em;
	}

	hr {
		border-color: $red;
		border-width: 3px;
		max-width: 50px;

		&.light {
			border-color: $white;
		}
	}

	.link-light {
		color: #009CD7;
	}

	.section-heading {
		font-family: $font-family-monospace;
	}

	.slide-left {
		&[data-emergence="visible"] {
			opacity: 1;
			animation: slideInLeft 1s;
		}

		&[data-emergence="hidden"] {
			opacity: 0;
		}
	}

	.slide-right {
		&[data-emergence="visible"] {
			opacity: 1;
			animation: slideInRight 1s;
		}

		&[data-emergence="hidden"] {
			opacity: 0;
		}
	}

	.frc-medal {
		width: 80%;
	}
}